*{margin:0;padding:0; }

.foot {
    padding-bottom: 50px;
}

.leftmenu li {
    float: left;
    list-style: none;
    margin-right: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}

nav.navbar.navbar-default {
    /* padding-bottom: 0px; */
    margin-bottom: 0px;
    size: 50px;
}

.col-xs-5.col-sm-5.col-md-5.col-lg-5.cotphai {
    padding-top: 24px;
    padding-left: 30px;
}

.socialnetwork h1 {
    font-weight: 650;
}

.socialnetwork {
    background: url(img/sejong4.jpg);
    padding: 80px;
}

nav.navbar.navbar-default.navbar-inverse {
    margin-bottom: 0px;
}

.thumbnail{        
    margin:0;
    width: 300px; 
    width : 100%;
    height: 380px;
    overflow: auto;
}
.thumbnail img {
    height:200px;
    width:100%;
}

.carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 610px;
    max-height: 650px;
    width: auto;
    cursor: pointer;
}
.carousel-caption {
	font-size: 15px; 
}

form#form1 {
    
    margin-left: 0px;
}

.dropbtn {
  color: black;
  padding: 17px;
  font-size: 17px;
  border: none;
  background-color: #fdfdfd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#socialbtn {
	color: black;
  padding: 17px;
  font-size: 17px;
  border: none;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #909090;}

#logo1 {
    
    background-color: white;
}

h2{
	line-height: 5%;
	padding-bottom: 25px;
	text-align: left;
	font-size: 40px;
	font-weight: bolder;
}

button.dropbtn {
    height: 70px;
    /* border: 1px solid; */
}
nav#nav2 {
    background-color: #fdfdfd;
    color: #fdfdfd;
}
nav.navbar.navbar-default.navbar-inverse {
    background-color: #46344E;
}

.student{
  background-color: #ff99ff;
  
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.heading {
    margin-top: 60px;
}
#testimonial .avatar {
    display: inline-block;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#testimonial blockquote {
    padding: 0;
    border: none;
    margin-left: 200px;
    margin-bottom: 46px;
    background: transparent url('img/sejong3.jpg') no-repeat right bottom;
}
.team-section{
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}
.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border{
  display:block;
  margin:auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}
.ps{
  margin-bottom: 40px;
}
.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img{
  width: 100%;
  filter: brightness(60%);
  transition: 0.4s all;
}
.ps a:hover >img {
  filter: none;
}

.section{
  width: 600px;
  margin:auto;
  font-size:22;  
  color: white;
  text-align: center;
  height: 0;
  overflow: hidden;
}
.section:target{
  height: auto;
}
.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
}
